{#{% extends 'base-page.html' %}#}
{#{% load static %}#}
{##}
{#{% block title %}#}
{#    About Us - Construction Website#}
{#{% endblock title %}#}
{##}
{#{% block container %}#}
{#	<!-- content start -->#}
{#	<div class="main-content-wrapper">#}
{#		<section class="breadcrumb-section about">#}
{#			<div class="container">#}
{#				<div class="row justify-content-center">#}
{#					<div class="col-12 col-lg-5">#}
{#						<div class="breadcrumb-wrapper">#}
{#							<h2>About Us</h2>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</section>#}
{#		<section class="section">#}
{#			<div class="container">#}
{#				<div class="row row-eq-height">#}
{#					<div class="col-12 col-lg-6 col-md-6">#}
{#						<div class="company-overview-wrapper">#}
{#							<h2 class="main-heading m-0">company overview</h2>#}
{#							<hr>#}
{#							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-12 col-lg-6 col-md-6">#}
{#						<div class="company-overview-wrapper">#}
{#							<div class="overview-image-top">#}
{#								<div class="overview-top-image item">#}
{#									<img src="{% static 'images/img/project-1.jpg' %}" alt="img">#}
{#								</div>#}
{#								<div class="overview-top-image item">#}
{#									<img src="{% static '/images/img/project-2.jpg' %}" alt="img">#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</section>#}
{#	</div>#}
{#	<!-- content end -->#}
{#{% endblock container %}#}
