{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Home - Construction Website
{% endblock title %}

{% block container %}
	<!-- main content wrapper -->
	<div class="main-content-wrapper">
		<!-- content section -->
		<section class="slider-section">
			<div class="slider-container">
                <div class="slider-img"><img src="{% static '/images/back-1.jpg' %}" alt="Sldie 1" /></div>
{#				<ul class="site-slider">#}
{#					<li>#}
{#						<div class="slider-img"><img src="{% static '/images/banner-1.jpg' %}" alt="Sldie 1" /></div>#}
{#						<div class="slider-text">#}
{#							<h3>WE CREATE<br>SPACE FOR LIFE</h3>#}
{#							<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></p>#}
{#						</div>#}
{#					</li>#}
{#					<li>#}
{#						<div class="slider-img"><img src="{% static '/images/banner-2.jpg' %}" alt="Sldie 2" /></div>#}
{#						<div class="slider-text">#}
{#							<h3>WE CREATE<br>SPACE FOR LIFE#}
{#                        </h3>#}
{#                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></p>#}
{#						</div>#}
{#					</li>#}
{#					<li>#}
{#						<div class="slider-img"><img src=".{% static '/images/banner-3.jpg' %}" alt="Sldie 3" /></div>#}
{#						<div class="slider-text">#}
{#							<h3>WE CREATE<br>SPACE FOR LIFE#}
{#                        </h3>#}
{#                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></p>#}
{#                        <div class="banner-btns"> <a href="../construct/pages/about-us.html" class="banner-learn-btn">learn more</a> <a href="#" data-toggle="modal" data-target="#getquote" class="banner-quote-btn">get a quote</a> </div>#}
{#						</div>#}
{#					</li>#}
{#				</ul>}#}
			</div>
		</section>

		<!-- experts end -->
		<!-- latest news start -->
	</div>
    {% endblock container %}
